@import '../../themes/default/variables.css';

.root {
    color: var(--brandTextColor);
    margin-bottom: 0;
    text-align: center;
}

.title {
    font-size: 1.5rem;
    margin: 0 0 32px;
    text-align: center;

    @media (max-width: 463px) {
        font-size: 1.3rem;
    }
}

.inputRow {
    margin-bottom: 5px;
}

.subtitle {
    font-size: 0.875rem;
    opacity: 0.75;
    text-align: center;
}

.returnToLoginBtn {
    background: none;
    border: none;
    color: color(var(--brandColorDark) alpha(64%));
    display: inline;
    font-size: 1.125rem;
    line-height: inherit;
    padding: 0;
    text-decoration: none;
    transition: var(--transitionOpacity);

    &:hover {
        opacity: var(--linkHoverOpacity);
        cursor: pointer;
    }

    &:active,
    &:focus {
        outline: none;
    }
}

.submitBtn {
    display: block;
    width: 100%;
    margin-bottom: 24px;
}

.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
}
