@import '../../../themes/default/variables.css';
@import '../../../themes/default/mixins.css';

.root {
    @mixin flexParent row, center, stretch;

    border-top: 2px solid transparent;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 1280px;
    padding-bottom: 64px;
    position: relative;

    & > * {
        margin-bottom: 3px;
    }

    @media (--only-tablet-screen) {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media (--only-mobile-screen) {
        flex-direction: column;
    }

    &.hasErrors {
        border-top-color: var(--errorColor);

        @media (--only-mobile-screen) {
            border-top-color: transparent;
        }
    }
}

.origin,
.destination {
    display: flex;
    flex-basis: 50%;

    @media (--only-mobile-screen) {
        flex-basis: auto;
    }

    & > div {
        flex-direction: column;
        display: flex;
        width: 100%;
    }
}

.originInput,
.destinationInput {
    display: flex;
    width: 100%;
}

.originInput input,
.destinationInput input {
    border: none;
    border-radius: 0;
    border-right: 1px solid var(--inputBorderColor);
}

button.submitButton {
    border: 1px solid #fff;
    border-radius: 0;
    flex-basis: 33%;
    margin-right: 1px;

    &:focus {
        outline: 0;
    }

    @media (--only-mobile-screen) {
        flex-basis: auto;
    }
}

.error {
    @mixin panel;

    background: var(--errorColor);
    border-radius: var(--baseBorderRadius) var(--baseBorderRadius) 0 0;
    color: #fff;
    position: absolute;
    bottom: calc(100% - 2px);
    right: 0;

    @media (--only-mobile-screen) {
        border-radius: 0;
        bottom: 139px;
        right: 1px;
        width: calc(100% - 1px);
    }
}

.changeFormTypeBtn {
    @mixin flexParent row, center, stretch;
    @mixin unstyledButton;

    color: #fff;
    opacity: 0.72;
    position: absolute;
    top: calc(100% - 48px);
    left: 24px;

    &:hover {
        opacity: 1;
    }

    & img {
        margin-right: 16px;
    }

    & span {
        text-decoration: underline;
    }
}
