
.payButton {
    width: 320px;
    height: 64px;
    background: linear-gradient(0deg, rgba(0, 50, 103, 0.88), rgba(0, 50, 103, 0.88)), #01BDEA;
    box-shadow: 0px 2px 4px rgba(0, 50, 103, 0.08);
    border-radius: 2px;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
}

